<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="./img/onlyonet_logo.png" width="30" height="30" class="d-inline-block align-top" alt="Only One T digital marketing agency logo">
      <span class="pl-1">ONLY ONE T</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link page-scroll" href="#home">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#services">What we offer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#brands">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </div>

  </div> <!-- ./container -->
</nav>
